.profile {
  width: 100%;
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
}

.profile-form-div {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-form-div {
  width: 50%;
  padding: 18px;
  border: none;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3);
}
.post-form-div form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-form-div form h4 {
  color: #212121;
  font-size: 22px;
}
.error {
  font-size: 14px;
  font-style: italic;
  color: #fa3b3b;
  position: absolute;
  bottom: -20px;
  left: 20px;
}
.post-form-div form div {
  width: 100%;
  position: relative;
}
.post-form-div form input {
  width: 100%;
  padding: 18px 18px 18px 24px;
  margin-top: 12px;

  font-size: 18px;
  border: 1px solid;
  border-radius: 4px;
}
.post-form-div form input:focus,
.post-form-div form textarea:focus {
  outline: none;
}
.post-form-div form textarea {
  width: 100%;
  min-height: 200px;
  margin-top: 24px;
  padding: 18px;
  font-size: 16px;
  resize: none;
  border: 1px solid;
  border-radius: 4px;
}

.post-form-div form button {
  width: 100%;
  margin-top: 28px;
  padding: 18px;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  background-color: #24ffa1;
  cursor: pointer;
}

.profile-posts {
  width: 100%;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-posts > h4 {
  font-size: 22px;
  color: #212121;
}

@media screen and (max-width: 800px) {
  .post-form-div {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .post-form-div {
    width: 90%;
  }
}