.post-card {
  width: 60%;
  height: auto;
  padding: 20px 14px;
  border: none;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 4px 4px 0px rgba(100, 100, 100, 0.2);
  margin-top: 20px;
  overflow: hidden;
}
.post-card input {
  width: 100%;
  padding: 14px;
  margin-top: 14px;
  border: 1px solid #999;
  border-radius: 4px;
  text-align: center;
}
.post-card input:focus {
  outline: none;
}
.post-card textarea {
  width: 100%;
  padding: 14px;
  margin-top: 14px;
  border: 1px solid #999;
  border-radius: 4px;
  resize: none;
}
.post-card textarea:focus {
  outline: none;
}

.post-card > h3 {
  font-size: 22px;
  font-weight: 700;
  color: #313131;
  text-align: center;
}
.post-card > p {
  position: relative;
  overflow: hidden;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
  color: #727272;
  background-color: #eee;
  border-radius: 4px;
  padding: 12px 50px;
}
.post-card > p > button {
  position: absolute;
  bottom: 1px;
  right: 3px;
  border: none;
  background: none;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}
.like-more-div {
  width: 100%;

  padding: 12px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.like-btn {
  border: none;
  border-radius: 4px;
  background-color: #0102da;
  padding: 4px;
  color: #eee;
  cursor: pointer;
}
.more-hide-btn {
  border: none;
  background: none;
  font-size: 14px;
  color: #999999;
  cursor: pointer;
}

.edit {
  width: 100%;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #999999;
  padding-top: 12px;
}
.edit > p {
  margin-top: 8px;
}
.edit span {
  color: #999999;
}

.edit > div {
  margin-top: 14px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.edit button {
  padding: 6px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.btn-edit {
  background-color: #2104ff;
}
.btn-delete {
  background-color: #ff0313;
}

@media screen and (max-width: 800px) {

  .post-card {
    width: 80%;
  }

}

@media screen and (max-width: 600px) {

  .post-card {
    width: 95%;
  }

}

@media screen and (max-width: 480px) {

  .post-card > p {
    font-size: 12px;
    padding: 6px 30px;
  }

}